@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol,
li,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 2;
}

textarea:focus,
button:focus,
input:focus,
a:focus {
  outline: none;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf?20rdog") format("truetype"), url("../fonts/icons.woff?20rdog") format("woff"), url("../fonts/icons.svg?20rdog#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-copyActive .path1:before {
  content: "";
  color: #005ff9;
}

._icon-copyActive .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

._icon-copy:before {
  content: "";
  color: #fff;
}

._icon-paid:before {
  content: "";
  color: #8d79c8;
}

._icon-panel:before {
  content: "";
  color: #336cfb;
}

._icon-personal:before {
  content: "";
  color: #60d0a8;
}

._icon-remortgaging:before {
  content: "";
  color: #ddba5f;
}

._icon-reports:before {
  content: "";
  color: #336cfb;
}

._icon-resource:before {
  content: "";
  color: #538ec7;
}

._icon-search:before {
  content: "";
}

._icon-settings:before {
  content: "";
  color: #336cfb;
}

._icon-star:before {
  content: "";
  color: #57c262;
}

._icon-up:before {
  content: "";
  color: #888;
}

._icon-Vector:before {
  content: "";
  color: #5ec6f2;
}

._icon-warehouse:before {
  content: "";
  color: #ff7a00;
}

._icon-warehouses:before {
  content: "";
  color: #336cfb;
}

._icon-white__theme:before {
  content: "";
  color: #fff;
}

._icon-additionally:before {
  content: "";
}

._icon-arrow:before {
  content: "";
}

._icon-arrow__next:before {
  content: "";
  color: #888;
}

._icon-arrow__prev:before {
  content: "";
  color: #888;
}

._icon-calendar:before {
  content: "";
  color: #336cfb;
}

._icon-center__warehouse:before {
  content: "";
  color: #8f00ff;
}

._icon-courier:before {
  content: "";
  color: #03a3e8;
}

._icon-dark__theme:before {
  content: "";
  color: #fff;
}

._icon-date:before {
  content: "";
  color: #336cfb;
}

._icon-delivered:before {
  content: "";
  color: #6dcf88;
}

._icon-delivery:before {
  content: "";
  color: #336cfb;
}

._icon-expectation:before {
  content: "";
  color: #c4c4c4;
}

._icon-fine:before {
  content: "";
  color: #de3a3a;
}

._icon-gold:before {
  content: "";
  color: gold;
}

._icon-inDelivery:before {
  content: "";
  color: #6cc9dd;
}

._icon-logistician:before {
  content: "";
}

._icon-operator:before {
  content: "";
  color: #2fd335;
}

._icon-orders:before {
  content: "";
  color: #336cfb;
}

._icon-add:before {
  content: "";
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E5E5E5;
  font-family: "Open Sans";
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #D8D8D8;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #005FF9;
}

body:-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D8D8D8;
}

.wrapper {
  position: relative;
  min-width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  /* HEADER ============================== */
}

.wrapper .header {
  position: fixed;
  width: 100%;
  min-width: 1730px;
  min-height: 102px;
  top: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
}

.wrapper .header .header__container .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .header .header__container .header__body-button {
  position: relative;
  display: inline-block;
  margin: 0 0 0 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .header__container .header__body-button form .reset {
  display: none;
}

.wrapper .header .header__container .header__body-button form .__select {
  position: relative;
  width: 160px;
  height: 40px;
}

.wrapper .header .header__container .header__body-button form .__select[data-state=active] .__select__title::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
      -ms-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}

.wrapper .header .header__container .header__body-button form .__select[data-state=active] .__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
      -ms-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}

.wrapper .header .header__container .header__body-button form .__select[data-state=active] .__select__content {
  opacity: 1;
}

.wrapper .header .header__container .header__body-button form .__select[data-state=active] .__select__label + .__select__input + .__select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.wrapper .header .header__container .header__body-button form .__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-radius: 5px;
  border: solid 1px #c7ccd1;
  cursor: pointer;
}

.wrapper .header .header__container .header__body-button form .__select__title::before,
.wrapper .header .header__container .header__body-button form .__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #333333;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
      -ms-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}

.wrapper .header .header__container .header__body-button form .__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
      -ms-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}

.wrapper .header .header__container .header__body-button form .__select__title:hover {
  border-color: #336CFB;
}

.wrapper .header .header__container .header__body-button form .__select__content {
  position: absolute;
  top: 40px;
  left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 6px);
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.wrapper .header .header__container .header__body-button form .__select__input {
  display: none;
}

.wrapper .header .header__container .header__body-button form .__select__input:checked + label {
  background-color: #dedede;
}

.wrapper .header .header__container .header__body-button form .__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.wrapper .header .header__container .header__body-button form .__select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}

.wrapper .header .header__container .header__body-button form .__select__label + input + .wrapper .header .header__container .header__body-button form .__select__label {
  border-top: 0 solid #C7CCD160;
}

.wrapper .header .header__container .header__body-button form .__select__label:hover {
  background-color: #336CFB !important;
  color: #fff;
}

.wrapper .header .header__container .header__body-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 0 10px 10px;
  margin: 0 0 0 30px;
}

.wrapper .header .header__container .header__body-search .menu__list-title {
  font-weight: 400;
  font-size: 15px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-date {
  margin: 0 0 0 50px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-urgency {
  margin: 0 0 0 90px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-destination {
  margin: 0 0 0 60px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status {
  margin: 0 0 0 60px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier {
  margin: 0 0 0 70px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier .dropdownvisible {
  overflow: auto;
  height: 200px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier .dropdownvisible::-webkit-scrollbar {
  width: 3px;
  background-color: #D8D8D8;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier .dropdownvisible::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #949494;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier .dropdownvisible:-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D8D8D8;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-warehouse {
  margin: 0 40px 0 20px;
}

.wrapper .header .header__container .header__body .menu__body input {
  cursor: pointer;
}

.wrapper .header .header__container .header__body .menu__body .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list .menu__list-title {
  font-weight: 400;
  font-size: 15px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list .menu__link {
  font-size: 12px;
  color: #000;
  position: relative;
}

.wrapper .header .header__container .header__body .menu__body .menu__list .menu__link span {
  font-size: 6px;
  top: 6px;
  left: 30px;
  position: absolute;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-source {
  padding-left: 30px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-link-status {
  color: #000;
  padding: 10px;
  border-radius: 10px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-link-status span {
  padding: 0 5px 0 0;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item {
  padding: 10px 0;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item input {
  cursor: pointer;
  margin: 7% 5px 0 0;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item label li .menu__sub-link-status {
  margin: 0;
  width: 140px;
  padding: 10px;
  display: inline-block;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item .-paid {
  width: 200px;
  background-color: #cfbfff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item .-paid:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #BFABF8;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item .-inDelivery {
  background-color: #AAF0FF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item .-inDelivery:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #98E5F5;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item .-expectation {
  background-color: #EDEDED;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item .-expectation:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #DBDBDB;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item .-remortgaging {
  background-color: #FFDE88;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item .-remortgaging:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #EBC86E;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item .-delivered {
  background-color: #BAFFCD;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-status .menu__sub-list .menu__sub-list-item .-delivered:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #99EAB0;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier {
  padding-left: 50px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier .menu__sub-list {
  padding: 0px 0px 0px 0px;
  overflow: auto;
  height: 200px;
  max-width: 100px;
  min-width: 100px;
  margin: 0;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier .menu__sub-list::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier .menu__sub-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #949494;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier .menu__sub-list:-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f9f9fd;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier .menu__sub-list li {
  margin: 0;
  padding: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier .menu__sub-list li:hover {
  background-color: #336cfb;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-courier .menu__sub-list .menu__sub-link {
  text-decoration: none;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-warehouse {
  padding-left: 30px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-warehouse .menu__sub-list {
  padding: 0px 0px 0px 0px;
  overflow: auto;
  max-width: 100px;
  min-width: 100px;
  margin: 0;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-warehouse .menu__sub-list li {
  margin: 0;
  padding: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-warehouse .menu__sub-list li:hover {
  background-color: #336cfb;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-warehouse .menu__sub-list .menu__sub-link {
  text-decoration: none;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-copy {
  padding: 20px 0 0 0;
  cursor: pointer;
}

.wrapper .header .header__container .header__body .menu__body .menu__list-copy img {
  width: 40px;
}

.wrapper .header .header__container .header__body .menu__body .menu__list > li {
  position: relative;
}

.wrapper .header .header__container .header__body .menu__body .menu__sub-list {
  color: #000;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 15px;
  min-width: 140px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.wrapper .header .header__container .header__body .menu__body .menu__sub-list .menu__sub-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

.wrapper .header .header__container .header__body .menu__body .menu__sub-list ._icon-gold {
  color: gold;
}

.wrapper .header .header__container .header__body .menu__body .menu__sub-list .menu__sub-button {
  margin: 10px 0 0 0;
  border-radius: 15px;
  padding: 10px 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  background-color: #336cfb;
  border: none;
}

.wrapper .header .header__container .header__body .menu__body .menu__sub-list > li {
  margin: 0 0 10px 0;
}

.wrapper .header .header__container .header__body .menu__body .menu__sub-list li:last-child {
  margin: 0;
}

.wrapper .header .header__container .header__body .menu__body .menu__sub-link {
  color: #000;
  padding: 0 0 0 10px;
}

.wrapper .header .header__container .header__body .menu__body .menu__sub-link:hover {
  text-decoration: underline;
}

.wrapper .header .button__list-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 155px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 75px;
  left: 0;
}

.wrapper .header .button__list-content .content__item {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .header .button__list-content .content__item:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #336cfb;
}

.wrapper .header .button__list-content .content__item:hover:first-child {
  border-radius: 10px 10px 0 0;
}

.wrapper .header .button__list-content .content__item:hover:last-child {
  border-radius: 0 0 10px 10px;
}

.wrapper .header .show {
  display: block;
}

.wrapper .main .sidebar {
  position: fixed;
  width: 100%;
  max-width: 190px;
  min-width: 190px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .main .sidebar .sidebar__content-list {
  padding: 50px 0 0 0;
}

.wrapper .main .sidebar .sidebar__content-list .sub__list {
  padding: 10px 0 10px 0;
  position: relative;
}

.wrapper .main .sidebar .sidebar__content-list .sub__list:hover {
  background-color: #353535;
}

.wrapper .main .sidebar .sidebar__content-list .sub__list span {
  position: absolute;
  top: 30%;
  left: 10%;
}

.wrapper .main .sidebar .sidebar__content-list .sub__list .active-item {
  color: #336cfb;
}

.wrapper .main .sidebar .sidebar__content-list .sub__list-item {
  font-weight: 400;
  font-family: "Open Sans";
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  color: #fff;
  padding: 0 0 0 45px;
}

.wrapper .main .sidebar .sidebar__account-body {
  text-align: center;
  padding: 0 0 25px 0;
}

.wrapper .main .sidebar .sidebar__account-body .account__name {
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  padding: 0 0 15px 0;
}

.wrapper .main .sidebar .sidebar__account-body .account__leave {
  text-decoration: underline;
  font-size: 20px;
  color: #336cfb;
}

.wrapper .main .sidebar .sidebar__account-theme {
  padding: 0 0 10px 0;
  text-align: center;
}

.wrapper .main .sidebar .sidebar__account-theme span {
  font-size: 20px;
}

.wrapper .main .sidebar .sidebar__account-theme .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.wrapper .main .sidebar .sidebar__account-theme .switch input {
  display: none;
}

.wrapper .main .sidebar .sidebar__account-theme .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9b9b9b;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.wrapper .main .sidebar .sidebar__account-theme .slider:before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.wrapper .main .sidebar .sidebar__account-theme input:checked + .slider {
  background-color: #336cfb;
}

.wrapper .main .sidebar .sidebar__account-theme input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #336cfb;
          box-shadow: 0 0 1px #336cfb;
}

.wrapper .main .sidebar .sidebar__account-theme input:checked + .slider:before {
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}

.wrapper .main .sidebar .sidebar__account-theme .slider.round {
  border-radius: 34px;
}

.wrapper .main .sidebar .sidebar__account-theme .slider.round:before {
  border-radius: 50%;
}

.wrapper .main .orders {
  width: 100%;
  max-width: 1500px;
  margin: 160px 0 0 220px;
}

.wrapper .main .orders .orders__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 0px;
}

.wrapper .main .orders .orders__content .orders__wrapper-element {
  text-align: right;
}

.wrapper .main .orders .orders__content .element__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  margin: 5px;
  min-width: 1150px;
  max-width: 1250px;
  padding: 10px 0;
  border-radius: 10px;
  border: 1px solid #ececec;
}

.wrapper .main .orders .orders__content .element__body div {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .orders .orders__content .element__body-number {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
}

.wrapper .main .orders .orders__content .element__body-source {
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .orders .orders__content .element__body-source .source {
  cursor: pointer;
}

.wrapper .main .orders .orders__content .element__body-source .source .source-menu {
  position: relative;
}

.wrapper .main .orders .orders__content .element__body-source .source .source-menu:hover .source-submenu {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  visibility: visible;
}

.wrapper .main .orders .orders__content .element__body-source .source .source-menu .source-submenu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 15px;
  left: 0;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 3;
}

.wrapper .main .orders .orders__content .element__body-source .source .source-menu .source-submenu .source-item {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .orders .orders__content .element__body-source .source .source-menu .source-submenu .source-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .orders .orders__content .element__body-source .source .source-menu span {
  padding: 0px 5px 0px 0px;
}

.wrapper .main .orders .orders__content .element__body-date {
  width: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .main .orders .orders__content .element__body-urgency {
  max-width: 80px;
  background-color: #fff;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #ececec;
  padding: 0 0px;
  margin: 0px 0px 0px 0px;
}

.wrapper .main .orders .orders__content .element__body-urgency:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #ECECEC;
}

.wrapper .main .orders .orders__content .element__body-urgency .urgency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
}

.wrapper .main .orders .orders__content .element__body-urgency .urgency:hover .urgency-submenu {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

.wrapper .main .orders .orders__content .element__body-urgency .urgency .urgency-submenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 28px;
  left: -30px;
  min-width: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.wrapper .main .orders .orders__content .element__body-urgency .urgency .urgency-submenu .urgency-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 10px 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.wrapper .main .orders .orders__content .element__body-urgency .urgency .urgency-submenu .urgency-item:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #336CFB;
}

.wrapper .main .orders .orders__content .element__body-urgency .urgency .urgency-submenu .urgency-item:first-child:hover {
  background-color: #336CFB;
  border-radius: 20px 20px 0 0;
  -webkit-transition: 0ms;
  -o-transition: 0ms;
  transition: 0ms;
}

.wrapper .main .orders .orders__content .element__body-urgency .urgency .urgency-submenu .urgency-item:last-child:hover {
  background-color: #336CFB;
  -webkit-transition: 0ms;
  -o-transition: 0ms;
  transition: 0ms;
  border-radius: 0 0 20px 20px;
}

.wrapper .main .orders .orders__content .element__body-location {
  width: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .orders .orders__content .element__body-location .location {
  cursor: pointer;
}

.wrapper .main .orders .orders__content .element__body-location .location .location-menu {
  position: relative;
}

.wrapper .main .orders .orders__content .element__body-location .location .location-menu:hover .location-submenu {
  opacity: 1;
  visibility: visible;
}

.wrapper .main .orders .orders__content .element__body-location .location .location-menu .location-submenu {
  min-width: 100px;
  position: absolute;
  visibility: hidden;
  top: 15px;
  left: 0;
  opacity: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  z-index: 3;
}

.wrapper .main .orders .orders__content .element__body-location .location .location-menu .location-submenu .location-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

.wrapper .main .orders .orders__content .element__body-location .location .location-menu .location-submenu .location-item input {
  cursor: pointer;
}

.wrapper .main .orders .orders__content .element__body-location .location .location-menu .location-submenu .location-item label {
  padding: 0 0 0 10px;
}

.wrapper .main .orders .orders__content .element__body-status {
  width: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .orders .orders__content .element__body-status .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
}

.wrapper .main .orders .orders__content .element__body-status .status-menu {
  background-color: #AAF0FF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .orders .orders__content .element__body-status .status-menu span {
  padding: 0 10px 0 0;
}

.wrapper .main .orders .orders__content .element__body-status .status-menu:hover {
  background-color: #98E4F4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .main .orders .orders__content .element__body-status .status-menu:hover .status-submenu {
  opacity: 1;
  visibility: visible;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu {
  position: absolute;
  top: 40px;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  border-radius: 20px;
  width: 160px;
  z-index: 1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .status-item {
  padding: 10px 0;
  width: 140px;
  border-radius: 10px;
  margin: 10px 0 10px 10px;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .status-item span {
  padding: 0px 0px 0px 10px;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .-paid {
  background-color: #CFBEFF;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .-paid:hover {
  background-color: #BFABF8;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .-inDelivery {
  background-color: #AAF0FF;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .-inDelivery:hover {
  background-color: #98E5F5;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .-expectation {
  background-color: #EDEDED;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .-expectation:hover {
  background-color: #DBDBDB;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .-remortgaging {
  background-color: #FFDE88;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .-remortgaging:hover {
  background-color: #EBC86E;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .-delivered {
  background-color: #BAFFCD;
}

.wrapper .main .orders .orders__content .element__body-status .status-submenu .-delivered:hover {
  background-color: #99EAB0;
}

.wrapper .main .orders .orders__content .element__body-courier {
  width: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .orders .orders__content .element__body-courier .courier form .dropdownvisible {
  overflow: auto;
  height: 200px;
}

.wrapper .main .orders .orders__content .element__body-courier .courier form .dropdownvisible::-webkit-scrollbar {
  width: 5px;
  background-color: #D8D8D8;
}

.wrapper .main .orders .orders__content .element__body-courier .courier form .dropdownvisible::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #B7B7B7;
}

.wrapper .main .orders .orders__content .element__body-courier .courier form .dropdownvisible:-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D8D8D8;
}

.wrapper .main .orders .orders__content .element__body-courier .courier form .trigger {
  padding: 10px 10px 10px 0;
  font-size: 16px;
  display: block;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 12px;
  display: inline-block;
}

.wrapper .main .orders .orders__content .element__body-courier .courier form .trigger::before {
  content: "";
  display: none;
}

.wrapper .main .orders .orders__content .element__body-courier .courier form .activetrigger {
  padding: 10px 10px 10px 0;
  font-size: 16px;
  display: block;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 12px;
  display: inline-block;
}

.wrapper .main .orders .orders__content .element__body-courier .courier form .activetrigger::before {
  content: "";
  display: none;
}

.wrapper .main .orders .orders__content .element__body-warehouse {
  width: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .orders .orders__content .element__body-warehouse .warehouse form .trigger {
  padding: 10px 10px 10px 0;
  font-size: 16px;
  display: block;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 12px;
  display: inline-block;
}

.wrapper .main .orders .orders__content .element__body-warehouse .warehouse form .trigger::before {
  content: "";
  display: none;
}

.wrapper .main .orders .orders__content .element__body-warehouse .warehouse form .activetrigger {
  padding: 10px 10px 10px 0;
  font-size: 16px;
  display: block;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 12px;
  display: inline-block;
}

.wrapper .main .orders .orders__content .element__body-warehouse .warehouse form .activetrigger::before {
  content: "";
  display: none;
}

.wrapper .main .orders .orders__content .element__body-checkbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}

.wrapper .main .orders .orders__content .element__body-checkbox .custom-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.wrapper .main .orders .orders__content .element__body-checkbox .custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .main .orders .orders__content .element__body-checkbox .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.wrapper .main .orders .orders__content .element__body-checkbox .custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.wrapper .main .orders .orders__content .element__body-checkbox .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.wrapper .main .orders .orders__content .element__body-checkbox .custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.wrapper .main .orders .orders__content .element__body-checkbox .custom-checkbox:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.wrapper .main .orders .orders__content .element__body-checkbox .custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.wrapper .main .orders .orders__content .element__body-checkbox .custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.wrapper .main .orders input {
  cursor: pointer;
}

.wrapper .main .applications {
  position: absolute;
  top: -50px;
  right: 30px;
  width: 350px;
  height: 700px;
  border-radius: 20px;
  background-color: #A5B7C4;
}

.wrapper .main .applications .applications__body .applications__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .applications .applications__body .applications__title .applications__logo {
  padding: 10px;
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  font-family: "Lato";
}

.wrapper .main .applications .applications__body .applications__title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 15px;
  color: #12E466;
  font-weight: bold;
  border-radius: 35%;
  background-color: #7E98AB;
}

.wrapper .main .applications .applications__body .applications__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}

.wrapper .main .applications .applications__body .applications__button .button__courier {
  width: 50%;
  margin: 0 5px 0 0;
}

.wrapper .main .applications .applications__body .applications__button .button__courier .dropdownvisible {
  overflow: auto;
  height: 200px;
}

.wrapper .main .applications .applications__body .applications__button .button__courier .dropdownvisible::-webkit-scrollbar {
  width: 5px;
  background-color: #D8D8D8;
}

.wrapper .main .applications .applications__body .applications__button .button__courier .dropdownvisible::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #B7B7B7;
}

.wrapper .main .applications .applications__body .applications__button .button__courier .dropdownvisible:-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D8D8D8;
}

.wrapper .main .applications .applications__body .applications__button .button__courier .trigger {
  padding: 10px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ececec;
  width: 100%;
  height: 39px;
  padding: 10px;
}

.wrapper .main .applications .applications__body .applications__button .button__courier .trigger::before {
  content: "";
  position: absolute;
  top: 45%;
  right: 10px;
  width: 0;
  height: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #000;
}

.wrapper .main .applications .applications__body .applications__button .button__courier .activetrigger {
  padding: 10px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ececec;
  width: 100%;
  height: 39px;
  padding: 10px;
}

.wrapper .main .applications .applications__body .applications__button .button__courier .activetrigger::before {
  content: "";
  position: absolute;
  top: 45%;
  right: 10px;
  width: 0;
  height: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #000;
}

.wrapper .main .applications .applications__body .applications__button .button__copy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 5px 0 0;
}

.wrapper .main .applications .applications__body .applications__button .button__copy-element {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  background-color: #336CFB;
  cursor: pointer;
}

.wrapper .main .applications .applications__body .applications__button .button__copy-element:hover {
  background-color: #1E51D2;
}

.wrapper .main .applications .applications__body .applications__button .button__copy-element span {
  padding: 0 10px 0 0;
}

.wrapper .main .applications .applications__body .applications__content {
  margin: 10px;
}

.wrapper .main .applications .applications__body .applications__content-body {
  background-color: #fff;
  padding: 30px;
  width: 100%;
  height: 550px;
  overflow: auto;
  border-radius: 10px;
  border: 1px solid #EDEDED;
  color: #000;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /*Перенос строки браузером по умолчанию*/
}

.wrapper .main .applications .applications__body .applications__content-body::-webkit-scrollbar {
  width: 10px;
  background-color: #D8D8D8;
}

.wrapper .main .applications .applications__body .applications__content-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #949494;
}

.wrapper .main .applications .applications__body .applications__content-body:-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D8D8D8;
}

.wrapper .main .up {
  position: fixed;
  bottom: 4%;
  right: 16%;
}

.wrapper .main .up-btn {
  background-color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.wrapper .main .up-btn:hover {
  background-color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .main .up-btn:hover i::before {
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .main .up-btn i {
  font-size: 35px;
  position: absolute;
  top: 25%;
  left: 30%;
}

/* PC============================== */

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

/* PC============================== */

/* TOUCH ============================== */

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._lock {
  overflow: hidden;
}

/* TOUCH ============================== */

form .dropcontainer {
  position: relative;
  font-size: 16px;
  color: #777;
}

form .trigger {
  padding: 10px 10px 10px 0;
  font-size: 16px;
  display: block;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 12px;
  display: inline-block;
}

form .trigger::before {
  content: "";
  position: absolute;
  top: 45%;
  right: -10px;
  width: 0;
  height: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #000;
}

form .trigger:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

form .activetrigger {
  padding: 10px 10px 10px 0;
  font-size: 16px;
  display: block;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 12px;
  display: inline-block;
}

form .activetrigger::before {
  content: "";
  position: absolute;
  top: 45%;
  right: -10px;
  width: 0;
  height: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #000;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

form .activetrigger:hover {
  color: #777;
}

form .activetrigger:active {
  color: #777;
}

form .dropcontainer ul {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  list-style-type: none;
  margin: 5px 0 0 0;
  width: 100px;
  z-index: 100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form .dropcontainer ul li {
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

form .dropcontainer ul li a {
  color: #000;
  font-size: 12px;
}

form .dropcontainer ul li:hover {
  background: #005FF9;
  outline: none;
}

form .dropcontainer ul li:hover a {
  color: #fff;
}

form .dropcontainer ul li:first-child {
  display: none;
}

form .dropcontainer ul li:last-child {
  border-bottom: none;
}

form .dropdownhidden {
  display: none;
}

form .dropdownvisible {
  position: absolute;
  height: auto;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

@media (min-width: 801px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }

  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
        -ms-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 800px) {
  .wrapper .header .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 30px 0;
  }

  .wrapper .header .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .wrapper .header .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .wrapper .header .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
  }

  .wrapper .header .menu__sub-link {
    color: #000;
  }
}